body{
    font-family: 'Poppins', sans-serif;
}

nav a{
    text-decoration: none;
    color: #3A3A3A;
    float: right;
    padding-right: 15px;
}

h2{
 margin-top: 50px;
 margin-left: 50px;
 color: #3A3A3A;   
}



.section-1{
    display: flex;
}
h1{
    font-size: 50px;
    font-weight: bold;
    margin-left: 50px;
    color: #3A3A3A;
    
    
    
}
button{
    height: 40px;
    width: 200px;
    background-color: #E02C6D;
    color: white;
    border-radius: 20px;
    border: 0px;
    font-weight: 700;
    margin-left: 50px;
}
button a{
    color: white;
}

p{
    margin-left: 50px;
    color: #3A3A3A;
}

.section-2{   
    display: flex;   
    justify-content: center;
    
}