body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 2em;
    font-weight:bold
}
.first-sec{
    display: flex;
    margin-left: 80px;

}
button{
  
    background-color:#E02C6D;
    color: white;
    border: none;
    height: 300px;
    height: 45px;
    width: 200px;
    left: 120px;
    top: 511px;
    border-radius: 41px;
    padding: 10px, 24px, 10px, 24px;
    font-weight: 700;
    font-size: 15px;  
}

.section-title{
    text-align: center;
}

.product .product-thumbmail img{
    height: 256px;
    width: 300px;
    left: 210px;
    top: 1052px;
    border-radius: 5px;

}
.product-info-rating{
    display:flex
    

    
    }
.fa-star.filled,.fa-star-half-alt{
    color: #FB8200;
} 
