body{
    font-family: 'Poppins', sans-serif;
}
h3{
    font-weight: bold;
    font-size: 24px;
    color: #3A3A3A;
    position: absolute;
left: 10%;
right: 74%;
top: 3%;
}
nav a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 16px;
    margin-right: 20px;
}