body{
    font-family: 'Poppins', sans-serif;
}

nav a{
    text-decoration: none;
    color: #3A3A3A;
    float: right;
    padding-right: 15px;
}

h2{
 margin-top: 50px;
 margin-left: 50px;
 color: #3A3A3A;   
}



.section-1{
    display: flex;
}
h1{
    font-size: 50px;
    font-weight: bold;
    margin-left: 50px;
    color: #3A3A3A;
    
    
    
}
button{
    height: 40px;
    width: 200px;
    background-color: #E02C6D;
    color: white;
    border-radius: 20px;
    border: 0px;
    font-weight: 700;
    margin-left: 50px;
}
button a{
    color: white;
}

p{
    margin-left: 50px;
    color: #3A3A3A;
}

.section-2{   
    display: flex;   
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-left: none;
    border-right: none;
    border-image: radial-gradient(#3A3A3A, white)1
    }

.section-2 img{
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.popular{
    text-align: center;
}
.fa-star.filled,.fa-star-half-alt{
    color: #FB8200;
}
.star-rating{
    display: flex;
    align-items: center;
}

.product-description{
    margin-left: 0px;
    
}

.Popular-container{
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 280px;
    height: 470px;
    width: 330px;
    left: 160px;
    top: 1030px;
    border-radius: 5px;
    

}

.Popular-products{
    margin-top: 50px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    
}
.Popular-products img{
    height: 256px;
    width: 300px;
    margin-top: 10px;
    
    

}
